@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap');
.col{
    width: 22%;
    border: rgb(247, 221, 221) solid 5px;
    height: 550px;
    /* background-color: black; */
    color: rgb(4, 3,3);
    float: left;
    padding: 10px;
}
p{
    font-family: 'Caveat', cursive;
}
h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h6{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 100%;
    height: 300px;
}
.col-1{
    background-color: rgb(175, 193, 149);
}
.col-2{
    background-color: rgb(175, 193, 149);
}
.col-3{
    background-color: rgb(175, 193, 149);
}
.col-4{
    background-color: rgb(175, 193, 149);
}
